
//- This Source Code Form is subject to the terms of the Mozilla Public
//- License, v. 2.0. If a copy of the MPL was not distributed with this
//- file, You can obtain one at http://mozilla.org/MPL/2.0/.
//-
//- Copyright (c) 2021-present Kaleidos Ventures SL

section.profile-timeline
    div(ng-if="vm.loading")
         div.spin
            img(
                src="#{v}/svg/spinner-circle.svg"
                alt="Loading..."
            )

    div(
        infinite-scroll="vm.loadTimeline()"
        infinite-scroll-disabled="vm.scrollDisabled"
    )
        div(
            style="background: #F1F1F4; padding: .5rem 1rem;"
        )
            span {{'TIMELINE.FILTER' | translate}}:
            input(
                type="text"
                ng-model="filterValue"
                ng-change="vm.filterTimelineList(filterValue)"
                style="width: 120px;"
            )
        div(
            tg-repeat="timeline in vm.timelineListVisible"
            tg-user-timeline-item="timeline"
        )
        div(
            ng-if="!vm.timelineListVisible.size"
            style="padding: .5rem 1rem;"
        ) {{'TIMELINE.NOTHING_FOUND' | translate}}
